*.test
*.log
*.pyc
*.flac
anony_jMetalPy/anony_moead/model_checkpoints/*
anony_jMetalPy/anony_moead/results/*
anony_jMetalPy/anony_moead/wandb/*
anony_jMetalPy/anony_mopso/model_checkpoints/*
anony_jMetalPy/anony_mopso/results/*
anony_jMetalPy/anony_mopso/wandb/*
anony_jMetalPy/evaluate/model_checkpoints/*
CELP_influence/model_checkpoints/*
pretrained_models/*
preanalysis/different_people_LSF/fig/*
preanalysis/different_people_LSF/TIMIT/*
evaluation/wer/model_checkpoints/*
evaluation/stoi/model_checkpoints/*
evaluation/pretrained_models/*
anony_geatpy/model_checkpoints/*
anony_geatpy/results/*
anony_geatpy/wandb/*